In [2]:
import pandas as pd 

data = {
    "Classe":["Júnior", "Júnior", "Pleno", "Pleno", "Sênior", "Sênior"],
    "Nome":["Jorge", "Carlos", "Roberta", "Patrícia", "Bruno", "Vera"],
    "Venda": [200, 120, 340, 124, 243, 350]
}

df = pd.DataFrame(data)
df
group = df.groupby("Classe")
group.sum() 

# group.mean()

                   Nome  Venda
Classe
Júnior      JorgeCarlos    320
Pleno   RobertaPatrícia    464
Sênior        BrunoVera    593