In [1]:
#Retorne que tem mais de um carro

import pandas as pd 

df = pd.read_csv("test.csv")

In [2]:
df

    nome     carro  salario
0   Jo達o     Fusca      5000
1  Maria  Fiat Uno      6000
2  Maria     Civic      6000
3  Pedro       Gol      7000
4  Pedro     Celta      7000
5  Pedro   Corolla      7000

In [3]:
df[df.duplicated(subset="nome", keep=False)]

    nome     carro  salario
1  Maria  Fiat Uno      6000
2  Maria     Civic      6000
3  Pedro       Gol      7000
4  Pedro     Celta      7000
5  Pedro   Corolla      7000

In [14]:
df

    nome     carro  salario
0   Jo達o     Fusca      5000
1  Maria  Fiat Uno      6000
2  Maria     Civic      6000
3  Pedro       Gol      7000
4  Pedro     Celta      7000
5  Pedro   Corolla      7000

In [15]:
df.groupby(["nome"])

In [11]:
# groupByName.to_excel('test2.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [5]:
df.drop_duplicates(subset="nome").sort_values(by='nome', ascending=False)

    nome     carro  salario
3  Pedro       Gol      7000
1  Maria  Fiat Uno      6000
0   Jo達o     Fusca      5000

In [6]:
df['salario '].idxmax()

3

In [18]:
df.index

RangeIndex(start=0, stop=6, step=1)